@font-face {
    font-family: 'Dodo Rounded VF';
    src: url('/assets/fonts/Dodo_Rounded_v2-VF.woff2') format('woff2'),
    url('/assets/fonts/Dodo_Rounded_v2-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: "Dodo Rounded VF", sans-serif;
    font-weight: 600;
}

.wrapper {
    padding: 12px calc(45% - 512px);
}

.text-black-hover-orange {
    color: black;
    transition: ease-in-out 0.2s;
}

.text-black-hover-orange:hover {
    color: darkorange;
}

.text-orange {
    color: darkorange;
    transition: ease-in-out 0.2s;
}

.hover-darkorange {
    transition: ease-in-out 0.2s;
}

.hover-darkorange:hover {
    color: #cf6f00;
}

.hover-orange {
    transition: ease-in-out 0.2s;
}

.hover-orange:hover {
    background: darkorange;
    border-color: darkorange;
}